.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Location-intro {
  float: right;
}

.ResponseField {
  background-color: #ffb951;
  flex: 1 1 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pastry-category, .pastry-category span {
  border: 1px solid #ddd;
  background: #fff;
  margin: 2px auto;
  width: 100%;
}

.pastry-category:hover {
  cursor: pointer;
}

.active-category-list {
  background: grey;
}

.active-category-list li {
  text-align: left;
  width: 400px;
  margin: 0 auto;
}

.pastry-item {
  display: flex;
  justify-content: space-between;
}

.pastry-item label {
}

.pastry-item input {
}
